
<% if logged_in? %>
    <h1><%= "Welcome, #{current_user.name}" %></h1>
    <h2>Your Travels Await You</h2>
<% else %>
    <h1>Welcome to Your Traveling Community</h1>
<% end %>

<img src="https://travel-hack.s3-us-west-1.amazonaws.com/oia-416136.jpg" >